body {
  font-family: "Segoe UI", Verdana, sans-serif;
  max-width: 100%;
  margin: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
:any-link {
  color: black;
  text-decoration: none;  color: #111;
}

header {
  text-align: center;
  display: block;
}
main {
  width: 75vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(3em, 100%));
  grid-template-rows: repeat(autofill, minmax(3em, 100%));
  color:#111;
}

section {
  display: grid;
  background: #ddd;
  grid-gap: 0.3em 0.2em;
  grid-auto-flow: row dense;
  justify-content: space-around;
  align-content: stretch;
}

section > * {

  line-height: 1.2;
  color: black;
}
section > .H {
  align-self: start;
  grid-column: 1/4;
  text-align: center;
}

section > .F {
  align-self: end;
  grid-column: 1/4;
  height: 3em;
}

section .R {
  border: 0px solid green;
  display: inline-flex;
  height: 100%;
}
section .R > * {
  display: block;
  padding: 0.2em;
  overflow: hidden;
}

section .R:hover {
  background: rgba(121, 121, 121, 0.4);
}

img {
  width: 100%;
  max-width: 240px;
  display: inline-flex;
  margin: auto;
}

nav {
  position: fixed;
  left: 1em;
  overflow: hidden;
  top: 1em;
  max-width: 12em;
  max-height: 100%;
}
nav>* {  
  display:none;
  width:0;
  height: 0;
}


nav:hover {
  display: block;
  width:8em;
  height:100%;
  top:0;
  left:0; 
}
nav:hover >* {
  display: block;
  width:100%;
  height: 2em;
  
}
nav:hover nav.fa {
  visibility: hidden;
}

footer {
  background-color: #999;
  margin-top: 1em;
  display: flex;
  max-height: max-content;
}

footer>* {
  display: inline-grid;
  margin: auto;
  font-weight: 600;
  color: aliceblue;
}
footer > img {
  height:48px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  nav,
  .main,
  .right {
    width: 100%;
  }
}
